.coordinate-plate-outer {
    width: 100%;
    margin-right: auto;
    aspect-ratio: 1/1;

    canvas {
        width: 100%;
        height: 100%;
    }

    #tooltip {
        display: block;
        position: absolute;
        background-color: #0d0d0f9d;
        border-radius: 5px;
        width: 130px;
        color: var(--color-light);
        font-size: 10px;
        font-weight: 600;
        padding: 5px 10px;
    }

    #tooltip.hidden {
        display: none;
    }
}