@use "variables" as *;
@import "primeicons/primeicons.css";

html {
  font-size: $base-font-size;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-base;
  font-size: 1rem;
  line-height: $base-line-height;
  color: $light-color;
  background: $background-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  color: inherit;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.01em;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.25rem; }
h4 { font-size: 1rem; }

.m-0 { margin: 0 !important; }
.p-0 { padding: 0 !important; }

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
