@use 'variables' as *;

.outer {
    width: 100%;
    height: 100%;
    padding: 10% 7%;
    background-color: $surface-color;

    .form-wrapper {
        width: 100%;
        height: 100%;

        h2 {
            font-size: 28px;
            font-weight: 600;
            color: $primary-color;
            margin-bottom: 30px;
        }

        form {
            width: 100%;
            height: calc(100% - 20px - 25px);
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .input-group {
                display: flex;
                flex-direction: column;
                gap: 20px;

                label {
                    font-size: 18px;
                    font-weight: 600;
                }

                input {
                    height: 35px;
                    width: 100%;
                    border-radius: 5px;
                    padding: 5px;
                    margin-bottom: 5px;
                }
            }

            ::ng-deep p-button button {
                height: 35px;
                width: 100%;
                margin-top: 20px;
            }
        }
    }
}