@use 'variables' as *;

.header {
    width: 100%;
    height: 60px;

    .header-container {
        width: 90%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px solid #ccc;

        .title-group {
            display: flex;
            flex-direction: row;
            align-items: flex-end;

            .title-text {
                color: #666;
                margin: 0;
                font-size: 30px;
            }

            .title-variant {
                margin-left: 5px;
                margin-bottom: 4px;
                font-weight: normal;
            }
        }

        .info-group {
            display: flex;
            flex-direction: column;
            font-weight: normal;

            .info-name,
            .info-extra {
                margin: 0;
            }
        }

        .info-group.logged-in {
            flex-direction: row;
            align-items: center;
            gap: 15px;

            ::ng-deep p-button button {
                background-color: transparent;
                border: 1px solid $primary-color;
                color: $primary-color;
                width: 30px;
                aspect-ratio: 1/1;
                transition: 0.2s ease-in-out;
                &:hover {
                    background-color: $primary-color;
                    color: $surface-color;
                }
            }

        }
    }
}