.outer {
    padding-top: 60px;
    width: 90%;
    margin: auto;

    .upper-line {
        width: 100%;
        height: calc(100vh - 100px - 100px);
        display: flex;
        flex-direction: row;
        justify-content: space-between;


        .line-item {
            width: 45%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            app-hit-form {
                height: 100%;
                width: 100%;

                @media (max-width: 1208px) {
                    min-height: 70%;
                }
            }
        }

        @media (max-width: 782px) {
            height: auto;
            flex-direction: column;
            justify-content: flex-start;
            gap: 20px;
            .line-item {
                width: 100%;
                height: auto;
            }
        }

    }

    .lower-line {
        width: 100%;
        height: 70vh;
        padding: 20px 0;
        margin-top: 100px;
    }
}